.user-data {
    height: 50px;
}

.user-data * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.avatar{
    height: 100%;
    width: var(--line-size);
    margin-right: 20px;
    position: relative;
}

.avatar>img {
    border-radius: 50%;
    overflow: hidden;
    height: 100%;
}

.line{
    content: "";
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: white;
    width: 80%;
    margin: 10px auto;
    display: block;
    height: 0px;
    padding: 0px;
}
.user-data.selected>div.func{
    background-color: rgba(173, 94, 3, 0.2);
}

.player.user-item:not(.president):not(.lastC):not(.lastP) .user-data:not(.selected):hover>div.func{
    background-color: rgba(173, 94, 3, 0.1);
}

.lessThan .player.user-item:not(.president):not(.lastC) .user-data:not(.selected):hover>div.func
{
    background-color: rgba(173, 94, 3, 0.1);
}

.user-data>div{
    box-sizing: border-box;
    margin: 0px auto;
    line-height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    transition-duration: 0.3s;
}

.extra{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
}