.Player-list>.spectator{
    color: rgba(255, 255, 255, 0.2);
}

.Player-list>.player{
    color: #fff;
    font-weight: 300;
}

/*.Player-list>.player.H, .Player-list>.player.F{
    color: rgb(83, 19, 19);
}

.Player-list>.player.C{
    color: #f00;
}*/

/*.player.president, .player.chancellor{
    text-decoration: underline;
}

.player.lastC, .player.lastP{
    text-decoration:line-through;
}*/



.player.lastC p::after{
    font-weight: lighter;
    font-style: italic;
    content: " ex\00a0chancellor";
    color: #77f;
}

.player.lastP p::after{
    font-weight: normal;
    font-style: italic;
    content: " ex\00a0president";
    color: #060;
}

.player.chancellor p::after{
    font-weight: bold;
    font-style: normal;
    content: " chancellor";
    color: #aaf;
}

.player.president p::after{
    font-weight: bold;
    font-style: normal;
    content: " president";
    color: #afa;
}
.dead .avatar img{
    filter: grayscale(100%);
}
.dead .extra::after {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 24;
    
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin: 2px;
    
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;

    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  
    content: "Skull";
    color: #fff;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    border-radius: 50%;

    border-color: var(--bg-color);
    border-style: solid;
    border-width: 2px;
}

.Player-list{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 400px;
    background-color: #222;
}