.Player-list>.spectator{
    color: rgba(255, 255, 255, 0.2);
}

.Player-list>.player{
    color: #fff;
    font-weight: 300;
}

.Player-list>.player.H, .Player-list>.player.F{
    color: rgb(83, 19, 19);
}

.Player-list>.player.C{
    color: #f00;
}

.player.president, .player.chancellor{
    text-decoration: underline;
}

.player.lastC, .player.lastP{
    text-decoration:line-through;
}

.player.president, .player.lastP{
    text-decoration-color: #0f0;
}

.player.chancellor, .player.chancellor{
    text-decoration-color: #00f;
}

.Player-list{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 340px;
    background-color: #222;
}